@{
    ViewBag.Title = "DroopOff";
    Layout = "~/Views/Shared/_AdminHR.cshtml";
}

<h2>DroopOff</h2>


<h1><a href="@Url.Action("DroopOffSeen", "Admin")">Seen</a></h1>


<h1><a href="@Url.Action("DroopOffNotSeen", "Admin")">Not Seen</a></h1>