<div class="grid_10 alpha omega" id="left_menu">

<iframe 
style="margin-left:50px;" 
width="425" height="350" 
frameborder="0" scrolling="no" 
marginheight="0" marginwidth="0" 
src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Faculty+of+engeneering+,Abaisa,+Cairo,+Egypt&amp;aq=&amp;sll=30.04841,31.236199&amp;sspn=0.020543,0.042272&amp;ie=UTF8&amp;hq=Faculty+of+engeneering+,Abaisa,+Cairo,+Egypt&amp;ll=30.064165,31.279088&amp;spn=0.001284,0.002642&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8874836359417251483&amp;output=embed">
</iframe>
<br />

</div>