@{
    ViewBag.title = "HOME . SUPPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="@Url.Content("~/Content/assets//img/logolarge.png")">
        <div>
        @Html.Raw(@ViewBag.Home)
             </div>
          </div>
      <!-- /END THE FEATURETTES -->
      </div>
      