<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="websitedbEntities" connectionString="metadata=res://*/websitedbmodel.csdl|res://*/websitedbmodel.ssdl|res://*/websitedbmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql1006.ixwebhosting.com;Initial Catalog=C345526_support_site;Persist Security Info=True;User ID=C345526_bondo2;Password=Dumbledore13&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>