@{
    ViewBag.Title = "About Us | Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--body content-->

  <div class="grid_12" id="content">

 @Html.Raw(@ViewBag.AboutUs)
  </div>
