<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="websitedbEntities" connectionString="metadata=res://*/websitedbmodel.csdl|res://*/websitedbmodel.ssdl|res://*/websitedbmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ALHASSAN-PC;Initial Catalog=C345526_support_site;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>