@{
    ViewBag.Title = "Supportians | Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid_16" id="content">
 <img src="@Url.Content("~/Content/images/Supportians/Supportians.png")">
  </div>