@{
    ViewBag.Title = "AddBlock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddBlock</h2>
@ViewBag.Message
<form action="@Url.Action("AddBlock", "Registration")" method="post">
<textarea name="Block" rows=20 cols=100></textarea>
<button>Submit</button>
</form>